{
    "presets": [["@babel/preset-react", { "runtime": "automatic", "importSource": "@emotion/react" }]],
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "~": "./src"
                }
            }
        ],
        ["@emotion/babel-plugin"]
    ]
}
